$black: #080808;
$white: #ffffff;
$eye: $black;
$mouth: $black;
$tear: #9DC8CC;
$skin: #E2C6C5;

.pixel {
    width: 1em;
    height: 1em;
    background: transparent;
}

.isaac {
    @extend .pixel;
    box-shadow:
        // outline
        4em 1em 0 $black,
        5em 1em 0 $black,
        6em 1em 0 $black,
        7em 1em 0 $black,
        8em 1em 0 $black,
        9em 1em 0 $black,
        3em 2em 0 $black,
        10em 2em 0 $black,
        2em 3em 0 $black,
        11em 3em 0 $black,
        1em 4em 0 $black,
        12em 4em 0 $black,
        1em 5em 0 $black,
        12em 5em 0 $black,
        1em 6em 0 $black,
        12em 6em 0 $black,
        1em 7em 0 $black,
        12em 7em 0 $black,
        2em 8em 0 $black,
        11em 8em 0 $black,
        3em 9em 0 $black,
        10em 9em 0 $black,
        2em 10em 0 $black,
        4em 10em 0 $black,
        5em 10em 0 $black,
        6em 10em 0 $black,
        7em 10em 0 $black,
        8em 10em 0 $black,
        9em 10em 0 $black,
        11em 10em 0 $black,
        2em 11em 0 $black,
        3em 11em 0 $black,
        4em 11em 0 $black,
        9em 11em 0 $black,
        10em 11em 0 $black,
        11em 11em 0 $black,
        4em 12em 0 $black,
        9em 12em 0 $black,
        4em 13em 0 $black,
        6em 13em 0 $black,
        7em 13em 0 $black,
        9em 13em 0 $black,
        4em 14em 0 $black,
        5em 14em 0 $black,
        8em 14em 0 $black,
        9em 14em 0 $black,
        // eye
        4em 5em 0 $eye,
        10em 5em 0 $eye,
        3em 6em 0 $eye,
        4em 6em 0 $eye,
        9em 6em 0 $eye,
        10em 6em 0 $eye,
        3em 5em 0 $white,
        9em 5em 0 $white,
        // tear
        3em 7em 0 $tear,
        4em 7em 0 $tear,
        3em 8em 0 $tear,
        9em 7em 0 $tear,
        10em 7em 0 $tear,
        10em 8em 0 $tear,
        // mouth
        5em 7em 0 $mouth,
        6em 7em 0 $mouth,
        7em 7em 0 $mouth,
        8em 7em 0 $mouth,
        5em 8em 0 $mouth,
        6em 8em 0 $mouth,
        7em 8em 0 $mouth,
        8em 8em 0 $mouth,
        // skin
        4em 2em 0 $skin,
        5em 2em 0 $skin,
        6em 2em 0 $skin,
        7em 2em 0 $skin,
        8em 2em 0 $skin,
        9em 2em 0 $skin,
        3em 3em 0 $skin,
        4em 3em 0 $skin,
        5em 3em 0 $skin,
        6em 3em 0 $skin,
        7em 3em 0 $skin,
        8em 3em 0 $skin,
        9em 3em 0 $skin,
        10em 3em 0 $skin,
        2em 4em 0 $skin,
        3em 4em 0 $skin,
        4em 4em 0 $skin,
        5em 4em 0 $skin,
        6em 4em 0 $skin,
        7em 4em 0 $skin,
        8em 4em 0 $skin,
        9em 4em 0 $skin,
        10em 4em 0 $skin,
        11em 4em 0 $skin,
        2em 5em 0 $skin,
        5em 5em 0 $skin,
        6em 5em 0 $skin,
        7em 5em 0 $skin,
        8em 5em 0 $skin,
        11em 5em 0 $skin,
        2em 6em 0 $skin,
        5em 6em 0 $skin,
        6em 6em 0 $skin,
        7em 6em 0 $skin,
        8em 6em 0 $skin,
        11em 6em 0 $skin,
        2em 7em 0 $skin,
        11em 7em 0 $skin,
        4em 8em 0 $skin,
        9em 8em 0 $skin,
        4em 9em 0 $skin,
        5em 9em 0 $skin,
        6em 9em 0 $skin,
        7em 9em 0 $skin,
        8em 9em 0 $skin,
        9em 9em 0 $skin,
        3em 10em 0 $skin,
        10em 10em 0 $skin,
        5em 11em 0 $skin,
        6em 11em 0 $skin,
        7em 11em 0 $skin,
        8em 11em 0 $skin,
        5em 12em 0 $skin,
        6em 12em 0 $skin,
        7em 12em 0 $skin,
        8em 12em 0 $skin,
        5em 13em 0 $skin,
        8em 13em 0 $skin
}
